<!doctype html>
<html lang="en">
{% load static %}
<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="{% static 'css1\stylee.css' %}">
<script
src="https://code.jquery.com/jquery-2.2.4.js"
integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
crossorigin="anonymous"></script>


</head>

<body bgcolor="0f3d3d">


    <h1>Website  <span>Blogs</span></h1>
    <hr class="line">
    <div class="maindiv">


<a href="#"><img src="{% static 'images/Potato.jpg' %}" alt="ADIT"></a>

<div class="blogmessage"> All you need to know about grape farming in India
    <p>India is among the leading 10 countries in the world in the production of grapes. Mostly used in India as a table fresh fruit, grapes ...</p>
    <a href="#" class="button">Read more</a></div>




<a href="#"><img src="{% static 'images/Yielding.jpg' %}" alt="ADIT"></a>
<div class="blogmessage">
    How a farmer from Nashik grew 195 quintal onion
    <p>Modern farming methods have often proven effective and have delivered outstanding results. A farmer from Nashik, stands testimony to the wonders modern farming techniques can ...</p>
    <a href="#" class="button">Read more</a>
</div>


<a href="#"><img src="{% static 'images/tomato.jpg' %}" alt="ADIT"></a>
<div class="blogmessage">
    7 tips to Get the Best Tomato Yield
    <p>Tomato farming can be immensely lucrative if you know the control parameters from the very beginning. The secret to growing plump, juicy, red tomatoes is ...</p>
    <a href="#" class="button">Read more</a>
</div>


<a href="#"><img src="{% static 'images/Cotton.jpg' %}" alt="ADIT"></a>
<div class="blogmessage">
     Cotton farming – the success story
    <p>Cotton is one of the most important crops in the Marathwada and Vidarbha region of Maharashtra. At a time when most regions in the state ...</p>
    <a href="#" class="button">Read more</a>
</div>


<a href="#"><img src="{% static 'images/Sugarcane.jpg' %}" alt="ADIT"></a>
<div class="blogmessage">
    Tips on increasing sugarcane yield
    <p>Mr. Sanjeev Mane from Sangli was awarded Krushi Bhushan for his astounding work in farming and yielding a whopping 100 tonne sugarcane per acre. How ...</p>
    <a href="#" class="button">Read more</a>
</div>


<a href="#"><img src="{% static 'images/Potato.jpg' %}" alt="ADIT"></a>
<div class="blogmessage">
    Potato – diseases and symptoms
    <p>Potatoes are one of the most common and important food sources on the planet. While there are several benefits of growing potatoes, it’s important to ...</p>
    
    
    <a href="#" class="button">Read more</a>
</div>
    </div>
<hr class="linedown">

<div class="scroll-container">
    <a href="Agri_Advice.html"><h1>Tips About Crops</h1>
     <p>Tips, Source & Solutions</p></a> 
   
     <a href="#"><img src="Image/1.jpg" alt="ADIT Students" width="300" height="300"></a>
     <a href="#"><img src="Image/2.jpg" alt="ADIT Students" width="300" height="300"></a>
     <a href="#"><img src="Image/3.jpg" alt="ADIT Students" width="300" height="300"></a>
     <a href="#"><img src="Image/4.jpg" alt="ADIT Students" width="300" height="300"></a> 
   
    <a href="#"><img src="Image/5.jpg" alt="ADIT Students" width="300" height="300"></a> 
    <a href="#"><img src="Image/6.jpg" alt="ADIT Students" width="300" height="300"></a> 
   <a href="#"><img src="Image/8.jpg" alt="ADIT Students" width="300" height="300"></a>  
    <a href="#"><img src="Image/Cotton.jpg" alt="ADIT Students" width="300" height="300"></a> 
   </div>
   
<!-- <script>
$(document).ready(function(){
$('.linedown').mouseenter(function(){
$(this).css("width","70%")

});
});


</script> -->
</body>

</html>